<div class="modal-dialog">
        <!-- Modal content-->
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal">&times;</button>
            <h4 class="modal-title text-center"> Ship Kit # {{ kit.kit_number }}</h4>
          </div>
          <div class="modal-body text-center">
              {% csrf_token %}
              <div class='ship-kit-form list-group'>
               {{ form.as_ul }}
               </div>
          </div> 
          <div class="modal-footer">
            <button class='btn btn-primary' data-url='{% url "new_shipment" kit.kit_number %}' id='ship-kit-submit'>Submit</button>
            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
          </div>
        </div>
      </div>
  </div>
<script>
  $(document).ready(function(){
    $('#edit-issue-modal .modal-body').height('355px');
    $(".ship-kit-form li").each(function(){
      // $(this).addClass("list-group-item")
      $(this).find('label').addClass("pull-left")
      $(this).find('input').addClass("pull-right form-control")
      $(this).find('select').addClass("pull-right form-control")
    })
    $('#ship-kit-submit').click(function(){
      var url = $(this).data('url');
      var store = $('#id_at_store').val();
      var ticket = $('#id_ticket_number').val();
      var to_store = $('#id_tracking_number_to_store').val();
      var to_help_support = $('#id_tracking_number_to_help_support').val();
      $.ajax({
        url: url,
        method: 'POST',
        data: {'store': store, 'ticket': ticket, 'to_store': to_store, 'to_hs': to_help_support},
        success: function(data){
          $('#edit-issue-modal').modal('hide');
          $.ajax({  
              url: '{% url "kits" %}',  
              success: function(data) {  
                  $('#data-info .modal-body').html(data);
                  $('#data-info .modal-title').html(header);
                  $('#create_kit_btn').remove()
              }  
          });
        }
      })
    })
  })
</script>